<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	
	<select id="selectAll" resultType="Board">
		select * from board order by board_id desc
	</select>
	
	<select id="select" parameterType="int" resultType="Board">
		select * from board where board_id=#{board_id}
	</select>	
	
	<insert id="insert" parameterType="Board">
		insert into board(profile_id, title, content) values(#{profile_id},#{title},#{content})
	</insert>
	
	<resultMap type="Board" id="BoardProFile">
		<id column="board_id" 					property="board_id"/>
		<result column="profile_id" 			property="profile_id"/>
		<result	column="title"					property="title"/>
		<result	column="content"				property="content"/>
		
		<association column="profile_id"	property="proFile"	 javaType="ProFile"
			select="ProFile.select"/>	
	</resultMap>
	
	
	<update id="update" parameterType="Board">
		update board set profile_id=#{profile_id}, title=#{title}, content=#{content} 
		where board_id=#{board_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from board where board_id=#{board_id}
	</delete>
	
</mapper>






